nav {
    background: #3066BE;
}

main, .nav-links {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.nav-links > li > a {
    display: inline-block;
    padding: 1rem .75rem;
    color: white;
}

.nav-links > li > a:hover {
    background: #0F084B;
}

main {
    margin-top: 2rem;
}

.active-link {
    background: #0F084B;
}