.product-card {
    text-decoration: none;
    color: black;
    border-radius: 8px;
}

.product-card:hover {
    border: 1px solid rgba(66, 68, 90, 0.5);
    -webkit-box-shadow: 8px 8px 9px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 9px -8px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 9px -8px rgba(66, 68, 90, 1);
}

.product-card:hover {
    text-decoration: underline;
}

.product-card > figure {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.sorting-controls-button {
    border: none;
    background: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

.sorting-button-active {
    background: #0F084B !important;
    color: white;
}