ul.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    list-style-type: none;
}

.product-card {
    text-decoration: none;
    color: black;
}

.product-card:hover {
    text-decoration: underline;
}

.product-card > img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}